<h3>InputImg</h3>

<label>@Label</label>
<div>
    <InputFile OnChange="OnChange" accept=".jpg, .jpeg,.png" />
</div>

<div>
    @if (imagenBase64 is not null)
    {
        <div>
            <div>
                <img src="data:image/jpeg;base64, @imagenBase64" style="width:400px" />
            </div>
        </div>
    }
</div>

@if (imagenURL is not null)
{
    <div>
        <div>
            <img src="@imagenURL" style="width:400px" />
        </div>
    </div>
}


@code {
    [Parameter] public string Label { get; set; } = "Imagen";
    [Parameter] public string? imagenURL { get; set; }
    [Parameter] public EventCallback<string> ImagenSeleccionada { get; set; }
    private string imagenBase64;
    async Task OnChange(InputFileChangeEventArgs e)
    {
        var imagenes = e.GetMultipleFiles();

        foreach (var imagen in imagenes)
        {
            var arrBytes = new byte[imagen.Size];
            await imagen.OpenReadStream().ReadAsync(arrBytes);
            imagenBase64 = Convert.ToBase64String(arrBytes);//Convert.toBase64String(arrBytes);
            imagenURL = null;
            await ImagenSeleccionada.InvokeAsync(imagenBase64);
            StateHasChanged(); //fuerza el componente a mostrar los cambios en la IU
        }
    }
}
